<!doctype html>
<html ng-app="weatherApp">
  <head>
    <title>Weather</title>
    <meta name="viewport" content="width=device-width">
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/jquery-1.11.1.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
    <link href="styles/styles.css" rel="stylesheet"/>
    <link href="styles/loader.css" rel="stylesheet"/>
  </head>
  <body ng-controller="weatherCtrl">
    <form>
      <input placeholder="City" type="text" ng-model="city">
      <input placeholder="State" type="text" ng-model="state" class="state" maxlength="2">
      <input type="submit" value="Get 7-day Forecast" ng-click="getWeather(city, state)">
    </form>
    
    
    <div ng-if="loading" class="cloud-loader">
      <div class="particle"></div>
      <div class="particle"></div>
      <div class="particle"></div>
      <div class="particle"></div>
      <div class="particle"></div>
      <div class="particle"></div>
    </div>
    <p ng-if="loading">Loading...</p>

    <h2 ng-if="error && !loading">An error has occured!</h2>
    <div ng-if="!error && !loading">
      <h2 ng-model="cityName">{{cityName}}</h2>
      <div class="forecast-wrapper">

        <ul class="list-outer clearfix">
          <li ng-repeat="day in days">
            <ul>
              <li>
                {{day.theDate | date:'EEEE, MMM d'}}
              </li>
              <li>
                Hi: {{day.hi}}&deg; F
              </li>
              <li>
                Lo: {{day.lo}}&deg; F
              </li>
              <li>{{day.blurb}}</li>
            </ul>
          </li>
        </ul>
      </div> <!-- end div .forecast-wrapper -->
    </div>
    

    <script>
      $(document).ready(function(){
        
      });
    </script>
  </body>
</html>