@import "compass/css3";

$lightTeal: #62cab4;
$lighterTeal: #87d7c7;

// Media Queries
$break-XS: 320px;
$break-S: 480px;
$break-M: 768px;
$break-L: 895px;
$break-XL: 1024px;

@mixin breakpoint($screenWidth: 400px) {
  @media screen and (min-width: $screenWidth) { @content; }
}

.clearfix:after {
  display: table;
  content: "";
  clear: both;
}
body {
  text-align: center;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
body, input[type=text], input[type=submit] {
  font-family: 'Josefin Sans', verdana, sans-serif;
  font-size: 20px;
  @include appearance(none);
  border: 0;
  margin: 0;
  padding: 0;
}
input[type=submit], input[type=text] {
  padding: 1em;
  margin: 0.5em;
}
input[type=text] {
  border: 1px solid $lightTeal;
}
input[type=submit] {
  background: $lighterTeal;
}
form {
  text-align: center;
}
.list-outer {
  &> li {
    padding: 1em;
    border-top: 1px solid $lightTeal;
  }
}


@include breakpoint($break-L) {
  .list-outer {
    width: ((200 + 40 + 1) * 7) + px;
    margin: 0 auto;
    border-left: 1px solid $lightTeal;
    border-right: 1px solid $lightTeal;
    &> li {
      width: 200px;
      float: left;
      display: block;
      border-bottom: 1px solid $lightTeal;
      border-left: 1px solid $lightTeal;
      &:first-child {
        border-left: 0;
      }
    }
    
  }
  .forecast-wrapper {
    width: 100%;
    overflow-x: auto;
  }
}

