@import "compass/css3";

$teal: #40b89f;
$lightTeal: #62cab4;
$lighterTeal: #87d7c7;

// Media Queries
$break-XS: 320px;
$break-S: 480px;
$break-M: 768px;
$break-L: 895px;
$break-XL: 1024px;

@mixin breakpoint($screenWidth: 400px) {
  @media screen and (min-width: $screenWidth) { @content; }
}

.clearfix:after {
  display: table;
  content: "";
  clear: both;
}
body {
  text-align: center;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
body, input[type=text], input[type=submit] {
  font-family: 'Josefin Sans', verdana, sans-serif;
  font-size: 20px;
  @include appearance(none);
  border: 0;
  margin: 0;
  padding: 0;
}
input[type=submit], input[type=text] {
  padding: 1em;
  margin: 0.5em;
  @include border-radius(0);
  &:focus {
    outline: 0;
  }
}
input[type=text] {
  border: 1px solid $lightTeal;
}
input[type=text].state {
  width: 60px;
  text-transform: uppercase;
  &::-webkit-input-placeholder {
    text-transform: none;
  }
  &:-moz-placeholder {
    text-transform: none;
  }
  &::-moz-placeholder {
    text-transform: none;
  }
  &:-ms-input-placeholder {
    text-transform: none;
  }
}
input[type=submit] {
  background: $lighterTeal;
  position: relative;
  top: -3px;
  left: -3px;
  //@include transition(top 0.3s, box-shadow 0.3s);
  @include box-shadow(1px 0px 0px $lightTeal,
                      0px 1px 0px $teal,
                      2px 1px 0px $lightTeal,
                      1px 2px 0px $teal,
                      3px 2px 0px $lightTeal,
                      2px 3px 0px $teal,
                      4px 3px 0px $lightTeal,
                      3px 4px 0px $teal);
  &:hover {
    @include box-shadow(none);
    top: 0;
    left: 0;
  }
}
form {
  text-align: center;
}
.list-outer {
  &> li {
    padding: 1em;
    border-top: 1px solid $lightTeal;
  }
}

/* begin cloud loader */

@-webkit-keyframes convect {
  0% { top: 25px; left: 25px }
  25% { top: 5px; left: 65px }
  50% { top: 27px; left: 110px }
  75% { top: 40px; left: 65px }
  100% { top: 25px; left: 25px }
}
@keyframes convect {
  0% { top: 25px; left: 25px }
  25% { top: 5px; left: 65px }
  50% { top: 27px; left: 110px }
  75% { top: 40px; left: 65px }
  100% { top: 25px; left: 25px }
}

.cloud-loader {
  position: relative;
  width: 200px;
  height: 110px;
  margin: 20px auto 0;
}
.particle{
  position: absolute;
  top:10px; left: 0px;
  height:50px; width:50px;
  border-radius: 50%;
  border: 7px solid #222;
  -webkit-animation: convect 4s infinite linear;
  animation: convect 4s infinite linear;
}
.particle:before{
  display: block;
  content: '';
  position: absolute;
  height: 50px; width: 50px;
  border-radius: 50%;
  background: #fff;
  z-index: 1;
}

.particle:nth-child(2) {
  -webkit-animation-delay: -3.33s;
  animation-delay: -3.33s;
}
.particle:nth-child(3) {
  -webkit-animation-delay: -2.67s;
  animation-delay: -2.67s;
}
.particle:nth-child(4){
  -webkit-animation-delay: -2s;
  animation-delay: -2s
}
.particle:nth-child(5) {
  -webkit-animation-delay: -1.33s;
  animation-delay: -1.33s
}
.particle:nth-child(6) {
  -webkit-animation-delay: -0.67s;
  animation-delay: -0.67s;
}




/* end cloud loader */


@include breakpoint($break-L) {
  .list-outer {
    width: ((200 + 40 + 1) * 7) + px;
    margin: 0 auto;
    border-left: 1px solid $lightTeal;
    border-right: 1px solid $lightTeal;
    &> li {
      width: 200px;
      float: left;
      display: block;
      border-bottom: 1px solid $lightTeal;
      border-left: 1px solid $lightTeal;
      &:first-child {
        border-left: 0;
      }
    }
    
  }
  .forecast-wrapper {
    width: 100%;
    overflow-x: auto;
  }
}

